In [173]:
import pandas as pd

In [174]:
url1 = r"C:\Users\agosa\OneDrive\Documents\GitHub\WorkSpace\join-tables-5-11\data\hol_listado_empresas.xlsx"
url2 = r"C:\Users\agosa\OneDrive\Documents\GitHub\WorkSpace\join-tables-5-11\data\Activa_listado.xlsx"

In [175]:
df1 = pd.read_excel(url1)
df2 = pd.read_excel(url2,sheet_name=1)

In [176]:
df2.head()

,RUBRO,SUB-RUBRO,NOMBRE DE FANTASIA,DIRECCIÓN,RAZON SOCIAL,N° COMERCIO,CUIT,LATITUD,LONGITUD,CPC,ID
0,ALMACENES,Almacén,Alto Tejeda,Gregorio Gavier 2005,Alto Tejeda,23251869,33711410959,-31.3682367854621,-64.2354533604359,ARGUELLO,10000
1,ALMACENES,Almacén,Alto Tejeda,Gregorio Gavier 2005,Alto Tejeda,23251869,33711410959,-31.3682367854621,-64.2354533604359,ARGUELLO,10000
2,ALMACENES,Almacén,Alto Tejeda,Menendez Pidal 3748,Alto Tejeda,23251906,33711410959,-31.3837978795171,-64.2347474315994,ARGUELLO,10001
3,ALMACENES,Almacén,Alto Tejeda,Av. Rafael Nuñez 6107,Alto Tejeda,23251947,33711410959,-31.3461386961099,-64.2507192892727,ARGUELLO,10002
4,ALMACENES,Almacén,Alto Tejeda,Av. Los Alamos 915,Alto Tejeda,25827966,33711410959,-31.3578384323557,-64.3102810019354,CENTRO AMERICA,10003

In [177]:
x = df2["ID"].unique()
print(len(x))
print(len(df2))

594
1395

In [178]:
df1["cuitempresa"].describe()

count           53787
unique          38871
top       30711358508
freq               61
Name: cuitempresa, dtype: object

In [179]:
def str_clean(x):
    data = []
    index = 0

    for i in x:
        if i == "_" or i== "-":
            continue
        else:
            data.append(i)
    return "".join(data)

    

df1["cuitempresa"] = df1["cuitempresa"].map(str_clean)
df1["cuitempresa"] = df1["cuitempresa"].astype(float)

In [180]:
df1.columns
df1.columns = ['id_tramite', 'FechaHabAprobada', 'Calle', 'Numero', 'Barrio',
       'FechaVencimientoHab', 'CUIT', 'razonsocial', 'NombreFantasia',
       'RubroNombre']

In [181]:
df1["location-ID"] = df1["Calle"] + " - " + df1["Numero"] + " - " + df1["CUIT"].astype(int).astype(str)

In [182]:
df1["last-date"] = 0

In [183]:
locationDate = {}

for i in df1["location-ID"].unique():
    subset = df1[df1["location-ID"] == i]
    locationDate[i] = subset["FechaVencimientoHab"].max()
    subset = 0
    print(locationDate[i])

locationDate

2023-12-12 23:59:59
2026-06-17 00:00:00
2018-10-22 11:47:31
2019-04-07 10:27:22
2024-02-18 23:59:59
2019-09-23 11:46:15
2020-10-01 17:51:00
2022-08-02 23:59:59
2018-11-13 08:39:23
2020-05-12 09:51:58
2023-12-17 23:59:59
2018-10-28 09:17:13
2018-11-27 15:25:12
2018-11-07 12:05:55
2027-01-20 00:00:00
2021-10-05 23:59:59
2023-09-11 23:59:59
2025-03-03 23:59:59
2025-12-16 23:59:59
2024-09-06 23:59:59
2018-11-01 10:53:59
2022-11-09 23:59:59
2018-11-12 10:08:38
2019-11-20 11:56:04
2018-10-18 12:58:38
2018-12-06 09:19:18
2018-10-22 10:16:36
2018-10-22 10:16:50
2023-11-05 23:59:59
2020-03-13 11:04:59
2018-10-07 12:23:57
2019-08-20 08:40:40
2024-11-14 23:59:59
2023-11-05 23:59:59
2019-03-13 11:58:44
2019-06-06 08:18:36
2019-03-12 10:11:00
2019-04-03 12:20:31
2027-02-15 00:00:00
2018-11-22 16:09:29
2024-03-13 23:59:59
2025-03-03 23:59:59
2018-10-09 17:28:28
2018-11-18 10:40:10
2018-12-30 09:32:24
2024-01-14 23:59:59
2018-11-05 09:03:30
2027-10-31 00:00:00
2024-09-13 23:59:59
2019-03-07 12:50:21
2018-11-12 12:40:13
2023-08-29 23:59:59
2019-09-02 15:11:29
2024-07-02 23:59:59
2021-04-08 23:59:59
2027-01-28 00:00:00
2027-09-12 00:00:00
2025-09-04 23:59:59
2024-03-22 23:59:59
2023-11-02 23:59:59
2023-08-07 23:59:59
2020-01-26 14:15:22
2018-12-13 09:30:42
2018-11-15 09:27:25
2018-12-03 14:12:22
2022-09-13 23:59:59
2026-02-17 23:59:59
2024-01-17 23:59:59
2018-11-18 11:35:33
2026-09-08 00:00:00
2018-11-07 11:28:43
2018-10-23 09:40:15
2021-04-08 23:59:59
2023-10-05 23:59:59
2026-08-10 00:00:00
2019-02-19 11:47:19
2023-03-15 23:59:59
2025-11-10 23:59:59
2019-06-06 12:30:49
2026-11-30 00:00:00
2018-11-21 11:34:53
2022-11-16 23:59:59
2024-09-26 23:59:59
2022-06-26 23:59:59
2023-12-04 23:59:59
2018-10-15 11:15:20
2024-01-15 23:59:59
2018-11-01 10:26:04
2020-10-27 14:50:25
2018-10-15 15:02:58
2018-10-28 11:47:40
2023-03-16 23:59:59
2022-06-07 23:59:59
2020-07-14 09:22:18
2022-08-31 23:59:59
2024-08-05 23:59:59
2023-12-07 23:59:59
2018-11-05 12:16:46
2018-11-20 10:35:34
2019-03-12 11:34:05

TypeError: '>=' not supported between instances of 'str' and 'float'

In [184]:
locationDate

{' AV PUEYRREDON  - 756 - -2147483648': '2023-12-12 23:59:59',
 ' ITUZAINGO  - 730 - -2147483648': '2026-06-17 00:00:00',
 ' UCACHA  - 2182 - -2147483648': '2018-10-22 11:47:31',
 ' ENTRE RIOS  - 4773 - -2147483648': '2019-04-07 10:27:22',
 ' CAVALANGO  - 4407 - -2147483648': '2024-02-18 23:59:59',
 ' AV RECTA MARTINOLLI  - 6744 - -2147483648': '2019-09-23 11:46:15',
 'AV RECTA MARTINOLLI - 7707 - -2147483648': '2020-10-01 17:51:00',
 ' LA RIOJA  - 59 - -2147483648': '2022-08-02 23:59:59',
 ' DAG HAMMARSKJOLD  - 2706 - -2147483648': '2018-11-13 08:39:23',
 ' JOSE BAIGORRI  - 711 - -2147483648': '2020-05-12 09:51:58',
 ' 9 DE JULIO  - 1333 - -2147483648': '2023-12-17 23:59:59',
 'GDOR JOSE ESTEBAN BUSTOS - 1012 - -2147483648': '2018-10-28 09:17:13',
 'RIO DE JANEIRO - 1492 - -2147483648': '2018-11-27 15:25:12',
 'AGUSTIN GAMARRA - 5681 - -2147483648': '2018-11-07 12:05:55',
 ' LUIS JOSE DE TEJEDA  - 4531 - -2147483648': '2027-01-20 00:00:00',
 ' 9 DE JULIO  - 241 - -2147483648': '2021-10-05 23:59:59',
 ' 25 DE MAYO  - 961 - -2147483648': '2023-09-11 23:59:59',
 ' MARIANO FRAGUEIRO  - 2552 - -2147483648': '2025-03-03 23:59:59',
 ' AV ILDEFONSO MUÑECAS  - 4201 - -2147483648': '2025-12-16 23:59:59',
 ' JOSE MARIA BEDOYA  - 240 - -2147483648': '2024-09-06 23:59:59',
 ' ALONSO DE MIRANDA  - 3443 - -2147483648': '2018-11-01 10:53:59',
 ' ALFONSINA STORNI  - 224 - -2147483648': '2022-11-09 23:59:59',
 ' AV RECTA MARTINOLLI  - 8206 - -2147483648': '2018-11-12 10:08:38',
 ' DIAG ICA  - 1245 - -2147483648': '2019-11-20 11:56:04',
 ' MEDRANO  - 4711 - -2147483648': '2018-10-18 12:58:38',
 ' ANTONIO DEL VISO  - 0811 - -2147483648': '2018-12-06 09:19:18',
 ' DEL GATO  - 350 - -2147483648': '2018-10-22 10:16:36',
 ' DE LA CHACARERA  - 12 - -2147483648': '2018-10-22 10:16:50',
 ' AV JUAN VUCETICH  - 6762 - -2147483648': '2023-11-05 23:59:59',
 ' CNEL JUAN P PRINGLES  - 47 - -2147483648': '2020-03-13 11:04:59',
 ' EMILIO LAMARCA  - 4251 - -2147483648': '2018-10-07 12:23:57',
 ' EUGENIO PIZZOLATTO  - 6994 - -2147483648': '2019-08-20 08:40:40',
 ' ANTONIO RODRIGUEZ DEL BUSTO  - 4086 - -2147483648': '2024-11-14 23:59:59',
 ' GILARDO GILARDI  - 1115 - -2147483648': '2023-11-05 23:59:59',
 ' AV RECTA MARTINOLLI  - 6639 - -2147483648': '2019-03-13 11:58:44',
 ' AV GDOR DR AMADEO SABATTINI  - 2299 - -2147483648': '2019-06-06 08:18:36',
 ' OBISPO TREJO Y SANABRIA  - 1399 - -2147483648': '2019-03-12 10:11:00',
 ' JOSE MANUEL ESTRADA  - 78 - -2147483648': '2019-04-03 12:20:31',
 ' SANTA ROSA  - 148 - -2147483648': '2027-02-15 00:00:00',
 ' CATAMARCA  - 18 - -2147483648': '2018-11-22 16:09:29',
 ' SANTA ROSA  - 25 - -2147483648': '2024-03-13 23:59:59',
 ' AV COLON  - 5593 - -2147483648': '2025-03-03 23:59:59',
 ' CESAR RATTI  - 120 - -2147483648': '2018-10-09 17:28:28',
 ' ENRIQUE MARTINEZ PAZ  - 53 - -2147483648': '2018-11-18 10:40:10',
 ' AV PUEYRREDON  - 64 - -2147483648': '2018-12-30 09:32:24',
 ' ACONCAGUA  - 2544 - -2147483648': '2024-01-14 23:59:59',
 ' AV DR RAFAEL NUÑEZ  - 4870 - -2147483648': '2018-11-05 09:03:30',
 ' AV VELEZ SARSFIELD  - 361 - -2147483648': '2027-10-31 00:00:00',
 ' MARCELO T DE ALVEAR  - 25 - -2147483648': '2024-09-13 23:59:59',
 ' SALTA  - 47 - -2147483648': '2019-03-07 12:50:21',
 ' CASTILLA  - 1870 - -2147483648': '2018-11-12 12:40:13',
 ' AV DR RAFAEL NUÑEZ  - 3612 - -2147483648': '2023-08-29 23:59:59',
 ' DEAN GREGORIO FUNES - 521 - -2147483648': '2019-09-02 15:11:29',
 ' AV LEANDRO N ALEM  - 642 - -2147483648': '2024-07-02 23:59:59',
 ' RIO SEGUNDO  - 1053 - -2147483648': '2021-04-08 23:59:59',
 ' AV DR RAFAEL NUÑEZ  - 4390 - -2147483648': '2027-01-28 00:00:00',
 ' DR RICARDO BALBIN  - 4500 - -2147483648': '2027-09-12 00:00:00',
 ' AV COLON  - 610 - -2147483648': '2025-09-04 23:59:59',
 ' HULUMAN  - 1747 - -2147483648': '2024-03-22 23:59:59',
 ' TTE GRAL DONATO ALVAREZ  - 8385 - -2147483648': '2023-11-02 23:59:59',
 ' RIVADAVIA  - 186 - -2147483648': '2023-08-07 23:59:59',
 ' BUENOS AIRES  - 1001 - -2147483648': '2020-01-26 14:15:22',
 ' DR TRISTAN ACHAVAL RODRIGUEZ  - 971 - -2147483648': '2018-12-13 09:30:42',
 ' CJAL CABICHE  - 74 - -2147483648': '2018-11-15 09:27:25',
 ' CRISOL - 141 - -2147483648': '2018-12-03 14:12:22',
 ' JOSE MARIA BEDOYA  - 516 - -2147483648': '2022-09-13 23:59:59',
 ' RICARDO ROJAS  - 6834 - -2147483648': '2026-02-17 23:59:59',
 ' AV GDOR DR AMADEO SABATTINI  - 3300 - -2147483648': '2024-01-17 23:59:59',
 ' AV RECTA MARTINOLLI  - 7525 - -2147483648': '2018-11-18 11:35:33',
 ' AV RAMON MENENDEZ PIDAL  - 3839 - -2147483648': '2026-09-08 00:00:00',
 ' AV RECTA MARTINOLLI  - 6714 - -2147483648': '2018-11-07 11:28:43',
 ' ALFONSINA STORNI  - 124 - -2147483648': '2018-10-23 09:40:15',
 ' TTE GRAL DONATO ALVAREZ  - 7357 - -2147483648': '2021-04-08 23:59:59',
 ' TTE GRAL DONATO ALVAREZ  - 9331 - -2147483648': '2023-10-05 23:59:59',
 ' CRISOL  - 93 - -2147483648': '2026-08-10 00:00:00',
 ' MENDOZA  - 2980 - -2147483648': '2019-02-19 11:47:19',
 ' JAMAICA  - 749 - -2147483648': '2023-03-15 23:59:59',
 ' DUARTE QUIROS  - 801 - -2147483648': '2025-11-10 23:59:59',
 ' AV VIVES  - 3165 - -2147483648': '2019-06-06 12:30:49',
 ' AV DR RAFAEL NUÑEZ  - 4388 - -2147483648': '2026-11-30 00:00:00',
 ' LA RIOJA  - 940 - -2147483648': '2018-11-21 11:34:53',
 ' OBISPO SALGUERO  - 778 - -2147483648': '2022-11-16 23:59:59',
 ' SAN JERONIMO  - 137 - -2147483648': '2024-09-26 23:59:59',
 ' AV COLON  - 1800 - -2147483648': '2022-06-26 23:59:59',
 ' SAN JERONIMO  - 2591 - -2147483648': '2023-12-04 23:59:59',
 ' AV LEANDRO N ALEM  - 2223 - -2147483648': '2018-10-15 11:15:20',
 ' MTRO VIDAL  - 920 - -2147483648': '2024-01-15 23:59:59',
 ' JAVIER LASCANO COLODRERO  - 3005 - -2147483648': '2018-11-01 10:26:04',
 ' SUCRE  - 33 - -2147483648': '2020-10-27 14:50:25',
 ' DEL GATO  - 12 - -2147483648': '2018-10-15 15:02:58',
 ' RIO NEGRO  - 1178 - -2147483648': '2018-10-28 11:47:40',
 ' LA RIOJA  - 301 - -2147483648': '2023-03-16 23:59:59',
 ' EMILIO A CARAFFA  - 2103 - -2147483648': '2022-06-07 23:59:59',
 ' 25 DE MAYO  - 1171 - -2147483648': '2020-07-14 09:22:18',
 ' AV JUAN B JUSTO  - 3900 - -2147483648': '2022-08-31 23:59:59',
 ' GRAL PAZ  - 1259 - -2147483648': '2024-08-05 23:59:59',
 ' AV GDOR DR AMADEO SABATTINI  - 4260 - -2147483648': '2023-12-07 23:59:59',
 'ARTURO CAPDEVILA  - 8 - -2147483648': '2018-11-05 12:16:46',
 ' CNO A VILLA POSSE  - 6850 - -2147483648': '2018-11-20 10:35:34',
 ' DE LOS ALEMANES  - 4891 - -2147483648': '2019-03-12 11:34:05'}

In [185]:

for i in range(len(df1)):
    r = df1["location-ID"][i]
    if r in locationDate.keys():
        df1["last-date"][i] = locationDate[r]

C:\Users\agosa\AppData\Local\Temp\ipykernel_9636\3128810647.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["last-date"][i] = locationDate[r]

In [198]:
df1

,id_tramite,FechaHabAprobada,Calle,Numero,Barrio,FechaVencimientoHab,CUIT,razonsocial,NombreFantasia,RubroNombre,location-ID,last-date
0,226,2018-12-12 14:36:50,AV PUEYRREDON,756,GUEMES,2023-12-12 23:59:59,2.728504e+10,ELVER,NaN,Almacén de comestibles,AV PUEYRREDON - 756 - -2147483648,2023-12-12 23:59:59
1,234,2014-08-26 11:49:01,ITUZAINGO,730,NUEVA CORDOBA,2019-08-26 11:49:01,3.071420e+10,MARINA B. LOPEZ Y ANTONELLA GROPPO MERGUERIAN ...,NIZA,"Venta al por menor de prendas de vestir, excep...",ITUZAINGO - 730 - -2147483648,2026-06-17 00:00:00
2,275,2013-10-22 11:47:31,UCACHA,2182,EMPALME,2018-10-22 11:47:31,2.027717e+10,BAZAN DAMIAN OSVALDO,NaN,Carnicería. Venta al por menor de carnes y sus...,UCACHA - 2182 - -2147483648,2018-10-22 11:47:31
3,278,2014-04-07 10:27:22,ENTRE RIOS,4773,ACOSTA,2019-04-07 10:27:22,2.006437e+10,BIGLIA RUBEN OMAR,NaN,Fabricación y reparación de acondicionadores d...,ENTRE RIOS - 4773 - -2147483648,2019-04-07 10:27:22
4,281,2013-12-23 11:47:29,CAVALANGO,4407,EMPALME,2018-12-23 11:47:29,2.007991e+10,PASCHETTA JUAN JOSE,EL JUAN,Servicios de elaboración propia o por terceros...,CAVALANGO - 4407 - -2147483648,2024-02-18 23:59:59
...,...,...,...,...,...,...,...,...,...,...,...,...
53782,209033,2023-05-11 08:46:18,ONCATIVO,69,CENTRO,2028-05-11 00:00:00,2.017627e+10,OSCAR MANUEL BALTAZAR,NaN,"VENTA AL POR MENOR DE FRUTAS, LEGUMBRES Y HORT...",ONCATIVO - 69 - -2147483648,0
53783,209078,2023-05-10 13:17:01,DUARTE QUIROS,179,CENTRO,2028-05-10 00:00:00,2.724250e+10,MARIA LISANDRA CATTANEO,VARIETE,"VENTA AL POR MENOR EN KIOSCOS, POLIRRUBROS Y C...",DUARTE QUIROS - 179 - -2147483648,0
53784,209112,2023-05-10 15:43:22,JACINTO DE ALTOLAGUIRRE,1665,YOFRE NORTE,2028-05-10 00:00:00,3.071645e+10,SUPERNANI S.A.S.,NaN,VENTA AL POR MENOR EN MINIMERCADOS,JACINTO DE ALTOLAGUIRRE - 1665 - -2147483648,0
53785,209152,2023-05-10 22:53:34,GRAL BERNARDO O'HIGGINS,6411,QUINTAS DE FLORES,2028-05-10 00:00:00,2.023763e+10,AGUSTIN PEDRO CAMPENNI,Panaderia Brulee,VENTA AL POR MENOR DE PAN Y PRODUCTOS DE PANAD...,GRAL BERNARDO O'HIGGINS - 6411 - -2147483648,0
53786,209153,2023-05-11 00:01:46,BV SAN JUAN,214,CENTRO,2028-05-11 00:00:00,2.743272e+10,VICTORIA LALLANA,NaN,"VENTA AL POR MENOR EN KIOSCOS, POLIRRUBROS Y C...",BV SAN JUAN - 214 - -2147483648,0

In [ ]:
for i in df1:
    print(i)

id_tramite
FechaHabAprobada
Calle
Numero
Barrio
FechaVencimientoHab
CUIT
razonsocial
NombreFantasia
RubroNombre
location-ID

In [187]:
df2["CUIT"].describe()

count    1.395000e+03
mean     2.851084e+10
std      4.080087e+09
min      2.006122e+10
25%      2.727840e+10
50%      3.061649e+10
75%      3.070912e+10
max      3.371723e+10
Name: CUIT, dtype: float64

In [188]:
df1.columns

Index(['id_tramite', 'FechaHabAprobada', 'Calle', 'Numero', 'Barrio',
       'FechaVencimientoHab', 'CUIT', 'razonsocial', 'NombreFantasia',
       'RubroNombre', 'location-ID', 'last-date'],
      dtype='object')

In [189]:
df = pd.merge(df2, df1, on='CUIT')

In [190]:
df.columns

Index(['RUBRO', 'SUB-RUBRO', 'NOMBRE DE FANTASIA', 'DIRECCIÓN', 'RAZON SOCIAL',
       'N° COMERCIO', 'CUIT', 'LATITUD', 'LONGITUD', 'CPC', 'ID', 'id_tramite',
       'FechaHabAprobada', 'Calle', 'Numero', 'Barrio', 'FechaVencimientoHab',
       'razonsocial', 'NombreFantasia', 'RubroNombre', 'location-ID',
       'last-date'],
      dtype='object')

In [191]:
filtered = df.drop_duplicates(subset=['ID'])

In [192]:
len(filtered)

515

In [194]:
filtered.to_excel(r"C:\Users\agosa\OneDrive\Documents\GitHub\WorkSpace\join-tables-5-11\data\fdata.xlsx")

In [195]:
dfr = filtered
dfr.columns

Index(['RUBRO', 'SUB-RUBRO', 'NOMBRE DE FANTASIA', 'DIRECCIÓN', 'RAZON SOCIAL',
       'N° COMERCIO', 'CUIT', 'LATITUD', 'LONGITUD', 'CPC', 'ID', 'id_tramite',
       'FechaHabAprobada', 'Calle', 'Numero', 'Barrio', 'FechaVencimientoHab',
       'razonsocial', 'NombreFantasia', 'RubroNombre', 'location-ID',
       'last-date'],
      dtype='object')

In [196]:
dfr["last-date"]

0        0
12       0
18       0
24       0
42       0
        ..
15552    0
15553    0
15580    0
15582    0
15583    0
Name: last-date, Length: 515, dtype: object