In [168]:
import pandas as pd
url1 = r"C:\Users\agosa\OneDrive\Documents\GitHub\WorkSpace\join-tables-5-11\data\hol_listado_empresas.xlsx"
url2 = r"C:\Users\agosa\OneDrive\Documents\GitHub\WorkSpace\join-tables-5-11\data\Activa_listado.xlsx"
df1 = pd.read_excel(url1)
df2 = pd.read_excel(url2,sheet_name=1)

In [170]:
df2.head()

,RUBRO,SUB-RUBRO,NOMBRE DE FANTASIA,DIRECCIÓN,RAZON SOCIAL,N° COMERCIO,CUIT,LATITUD,LONGITUD,CPC,ID
0,ALMACENES,Almacén,Alto Tejeda,Gregorio Gavier 2005,Alto Tejeda,23251869,33711410959,-31.3682367854621,-64.2354533604359,ARGUELLO,10000
1,ALMACENES,Almacén,Alto Tejeda,Gregorio Gavier 2005,Alto Tejeda,23251869,33711410959,-31.3682367854621,-64.2354533604359,ARGUELLO,10000
2,ALMACENES,Almacén,Alto Tejeda,Menendez Pidal 3748,Alto Tejeda,23251906,33711410959,-31.3837978795171,-64.2347474315994,ARGUELLO,10001
3,ALMACENES,Almacén,Alto Tejeda,Av. Rafael Nuñez 6107,Alto Tejeda,23251947,33711410959,-31.3461386961099,-64.2507192892727,ARGUELLO,10002
4,ALMACENES,Almacén,Alto Tejeda,Av. Los Alamos 915,Alto Tejeda,25827966,33711410959,-31.3578384323557,-64.3102810019354,CENTRO AMERICA,10003

In [138]:
def cleanString(x:str):
    x = x.split(" ")
    rt = []
    for i in x:
        if len(i)<=4:
            continue
        else:
            rt.append(i)

    return "".join(rt).strip()

In [139]:
def getNumber(x:str):
    x = x.strip()
    x = x.split()
    return x[-1]

In [140]:

df2["UniqueId"] = df2["DIRECCIÓN"].map(cleanString) + " " + df2["DIRECCIÓN"].map(getNumber) + " " + df2["CUIT"].astype(str)

df2["UniqueId"] = df2["UniqueId"].map(lambda x: x.lower().strip())
df2["UniqueId"]

0                       gregoriogavier 2005 33711410959
1                       gregoriogavier 2005 33711410959
2                        menendezpidal 3748 33711410959
3                          rafaelnuñez 6107 33711410959
4                                alamos 915 33711410959
                             ...
1390                         sabattini 4283 30709284041
1391                         sabattini 4283 30709284041
1392    cajamarcasantaisabelseccion seccion 27279590401
1393                     republicaisrael 81 30715804138
1394                          jeronimo 5318 27362390139
Name: UniqueId, Length: 1395, dtype: object

In [164]:
import re

re.findall(r'\d+', "hola 45436")[0]

'45436'

In [171]:
import re
def digitStract(x:str):
    try:
        return re.findall(r'\d+', x)[0]
    except:
        return "0000"
    

df2["UniqueId"] = df2["DIRECCIÓN"].map(digitStract) + "-"+ df2["CUIT"].astype(str)
df2["UniqueId"]

0       2005-33711410959
1       2005-33711410959
2       3748-33711410959
3       6107-33711410959
4        915-33711410959
              ...
1390    4283-30709284041
1391    4283-30709284041
1392    2094-27279590401
1393      81-30715804138
1394    5318-27362390139
Name: UniqueId, Length: 1395, dtype: object

In [172]:
def str_clean(x):
    data = []
    index = 0

    for i in x:
        if i == "_" or i== "-":
            continue
        else:
            data.append(i)
    return "".join(data)

    

df1["cuitempresa"] = df1["cuitempresa"].map(str_clean)

df1["cuitempresa"]

0        27285035932
1        30714196797
2        20277168775
3        20064370503
4        20079914445
            ...
53782    20176274167
53783    27242501239
53784    30716451115
53785    20237632916
53786    27432717513
Name: cuitempresa, Length: 53787, dtype: object

In [178]:
df1["UniqueId"] = df1["Calle"].map(cleanString) + " " + df1["Numero"] + " " + df1["cuitempresa"]
df1["UniqueId"] = df1["UniqueId"].map(lambda x: x.lower().strip())
df1["UniqueId"]

KeyError: 'cuitempresa'

In [177]:
df1.columns = ['id_tramite', 'FechaHabAprobada', 'Calle', 'Numero', 'Barrio',
       'FechaVencimientoHab', 'CUIT', 'razonsocial', 'NombreFantasia',
       'RubroNombre']

In [179]:
df1["UniqueId"] = df1["Numero"].map(digitStract) + "-"+ df1["CUIT"].astype(str)
df1["UniqueId"]

0         756-27285035932
1         730-30714196797
2        2182-20277168775
3        4773-20064370503
4        4407-20079914445
               ...
53782      69-20176274167
53783     179-27242501239
53784    1665-30716451115
53785    6411-20237632916
53786     214-27432717513
Name: UniqueId, Length: 53787, dtype: object

In [143]:
df1["Numero"].astype(str)

0         756
1         730
2        2182
3        4773
4        4407
         ...
53782      69
53783     179
53784    1665
53785    6411
53786     214
Name: Numero, Length: 53787, dtype: object

In [183]:

df1.columns = ['id_tramite', 'FechaHabAprobada', 'Calle', 'Numero', 'Barrio',
       'FechaVencimientoHab', 'CUIT', 'razonsocial', 'NombreFantasia',
       'RubroNombre', 'UniqueId']
df1["location-ID"] = df1["Calle"] + " " + df1["Numero"].astype(str) + " " + df1["CUIT"].astype(str)

ValueError: Length mismatch: Expected axis has 12 elements, new values have 11 elements

In [180]:
df1["FechaVencimientoHab"] = df1["FechaVencimientoHab"].astype("datetime64[D]")

In [182]:
df1["last-date"] = 0
locationDate = {}

for i in df1["location-ID"].unique():
    subset = df1[df1["location-ID"] == i]
    if subset["FechaVencimientoHab"].max():
        locationDate[i] = subset["FechaVencimientoHab"].max()
    else:
        locationDate[i] = subset["FechaVencimientoHab"][0]
locationDate

KeyError: 'location-ID'

In [147]:

for i in range(len(df1)):
    r = df1["location-ID"][i]
    if r in locationDate.keys():
        df1["last-date"][i] = locationDate[r]

C:\Users\agosa\AppData\Local\Temp\ipykernel_15752\3128810647.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["last-date"][i] = locationDate[r]

In [148]:
df1

,id_tramite,FechaHabAprobada,Calle,Numero,Barrio,FechaVencimientoHab,CUIT,razonsocial,NombreFantasia,RubroNombre,UniqueId,location-ID,last-date
0,226,2018-12-12 14:36:50,AV PUEYRREDON,756,GUEMES,2023-12-12,27285035932,ELVER,NaN,Almacén de comestibles,pueyrredon 756 27285035932,AV PUEYRREDON 756 27285035932,2023-12-12 00:00:00
1,234,2014-08-26 11:49:01,ITUZAINGO,730,NUEVA CORDOBA,2019-08-26,30714196797,MARINA B. LOPEZ Y ANTONELLA GROPPO MERGUERIAN ...,NIZA,"Venta al por menor de prendas de vestir, excep...",ituzaingo 730 30714196797,ITUZAINGO 730 30714196797,2019-08-26 00:00:00
2,275,2013-10-22 11:47:31,UCACHA,2182,EMPALME,2018-10-22,20277168775,BAZAN DAMIAN OSVALDO,NaN,Carnicería. Venta al por menor de carnes y sus...,ucacha 2182 20277168775,UCACHA 2182 20277168775,2018-10-22 00:00:00
3,278,2014-04-07 10:27:22,ENTRE RIOS,4773,ACOSTA,2019-04-07,20064370503,BIGLIA RUBEN OMAR,NaN,Fabricación y reparación de acondicionadores d...,entre 4773 20064370503,ENTRE RIOS 4773 20064370503,2019-04-07 00:00:00
4,281,2013-12-23 11:47:29,CAVALANGO,4407,EMPALME,2018-12-23,20079914445,PASCHETTA JUAN JOSE,EL JUAN,Servicios de elaboración propia o por terceros...,cavalango 4407 20079914445,CAVALANGO 4407 20079914445,2024-02-18 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53782,209033,2023-05-11 08:46:18,ONCATIVO,69,CENTRO,2028-05-11,20176274167,OSCAR MANUEL BALTAZAR,NaN,"VENTA AL POR MENOR DE FRUTAS, LEGUMBRES Y HORT...",oncativo 69 20176274167,ONCATIVO 69 20176274167,2028-05-11 00:00:00
53783,209078,2023-05-10 13:17:01,DUARTE QUIROS,179,CENTRO,2028-05-10,27242501239,MARIA LISANDRA CATTANEO,VARIETE,"VENTA AL POR MENOR EN KIOSCOS, POLIRRUBROS Y C...",duartequiros 179 27242501239,DUARTE QUIROS 179 27242501239,2028-05-10 00:00:00
53784,209112,2023-05-10 15:43:22,JACINTO DE ALTOLAGUIRRE,1665,YOFRE NORTE,2028-05-10,30716451115,SUPERNANI S.A.S.,NaN,VENTA AL POR MENOR EN MINIMERCADOS,jacintoaltolaguirre 1665 30716451115,JACINTO DE ALTOLAGUIRRE 1665 30716451115,2028-05-10 00:00:00
53785,209152,2023-05-10 22:53:34,GRAL BERNARDO O'HIGGINS,6411,QUINTAS DE FLORES,2028-05-10,20237632916,AGUSTIN PEDRO CAMPENNI,Panaderia Brulee,VENTA AL POR MENOR DE PAN Y PRODUCTOS DE PANAD...,bernardoo'higgins 6411 20237632916,GRAL BERNARDO O'HIGGINS 6411 20237632916,2028-05-10 00:00:00
53786,209153,2023-05-11 00:01:46,BV SAN JUAN,214,CENTRO,2028-05-11,27432717513,VICTORIA LALLANA,NaN,"VENTA AL POR MENOR EN KIOSCOS, POLIRRUBROS Y C...",214 27432717513,BV SAN JUAN 214 27432717513,2028-05-11 00:00:00

In [149]:
df2

,RUBRO,SUB-RUBRO,NOMBRE DE FANTASIA,DIRECCIÓN,RAZON SOCIAL,N° COMERCIO,CUIT,LATITUD,LONGITUD,CPC,ID,UniqueId
0,ALMACENES,Almacén,Alto Tejeda,Gregorio Gavier 2005,Alto Tejeda,23251869,33711410959,-31.3682367854621,-64.2354533604359,ARGUELLO,10000,gregoriogavier 2005 33711410959
1,ALMACENES,Almacén,Alto Tejeda,Gregorio Gavier 2005,Alto Tejeda,23251869,33711410959,-31.3682367854621,-64.2354533604359,ARGUELLO,10000,gregoriogavier 2005 33711410959
2,ALMACENES,Almacén,Alto Tejeda,Menendez Pidal 3748,Alto Tejeda,23251906,33711410959,-31.3837978795171,-64.2347474315994,ARGUELLO,10001,menendezpidal 3748 33711410959
3,ALMACENES,Almacén,Alto Tejeda,Av. Rafael Nuñez 6107,Alto Tejeda,23251947,33711410959,-31.3461386961099,-64.2507192892727,ARGUELLO,10002,rafaelnuñez 6107 33711410959
4,ALMACENES,Almacén,Alto Tejeda,Av. Los Alamos 915,Alto Tejeda,25827966,33711410959,-31.3578384323557,-64.3102810019354,CENTRO AMERICA,10003,alamos 915 33711410959
...,...,...,...,...,...,...,...,...,...,...,...,...
1390,CUIDADO PERSONAL,Farmacia,Lider,Sabattini 4283,Farmacias Lider S.A,23766436,30709284041,-31.43416127912283,-64.13145483157977,EMPALME,11370,sabattini 4283 30709284041
1391,CUIDADO PERSONAL,Farmacia,Lider,Sabattini 4283,Farmacias Lider S.A,23766436,30709284041,-31.43416127912283,-64.13145483157977,EMPALME,11370,sabattini 4283 30709284041
1392,CUIDADO PERSONAL,Óptica,OPTICA SANTA ISABEL,CAJAMARCA 2094 B° SANTA ISABEL 2DA SECCION,SILVANA DEL VALLE PERALTA,28749225,27279590401,"-31,479334133925615","-64,23398794506701",ARGUELLO,11390,cajamarcasantaisabelseccion seccion 27279590401
1393,ALMACENES,Almacén,La Casa Del Kioskero,Republica de Israel 81,Distribuidora Vives SA,29730072,30715804138,"-31,410523293426234","-64,18110648739814",CENTRAL,11410,republicaisrael 81 30715804138
1394,ALMACENES,Almacén,Mercadito Vasco Chico,San Jeronimo Nº 5318,Vallejo Paula Daniza,29778174,27362390139,"-31,424612443051007","-64,11798841808208",NaN,11414,jeronimo 5318 27362390139

In [150]:
df = pd.merge(df2, df1, on='UniqueId')

In [151]:
df.columns

Index(['RUBRO', 'SUB-RUBRO', 'NOMBRE DE FANTASIA', 'DIRECCIÓN', 'RAZON SOCIAL',
       'N° COMERCIO', 'CUIT_x', 'LATITUD', 'LONGITUD', 'CPC', 'ID', 'UniqueId',
       'id_tramite', 'FechaHabAprobada', 'Calle', 'Numero', 'Barrio',
       'FechaVencimientoHab', 'CUIT_y', 'razonsocial', 'NombreFantasia',
       'RubroNombre', 'location-ID', 'last-date'],
      dtype='object')

In [152]:
filtered = df.drop_duplicates(subset=['ID'])

In [153]:
len(filtered)

179

In [154]:
filtered.to_excel(r"C:\Users\agosa\OneDrive\Documents\GitHub\WorkSpace\join-tables-5-11\data\fdata.xlsx")

In [155]:
dfr = filtered
dfr

,RUBRO,SUB-RUBRO,NOMBRE DE FANTASIA,DIRECCIÓN,RAZON SOCIAL,N° COMERCIO,CUIT_x,LATITUD,LONGITUD,CPC,...,Calle,Numero,Barrio,FechaVencimientoHab,CUIT_y,razonsocial,NombreFantasia,RubroNombre,location-ID,last-date
0,ALMACENES,Almacén,Alto Tejeda,Av. Rafael Nuñez 6107,Alto Tejeda,23251947,33711410959,-31.3461386961099,-64.2507192892727,ARGUELLO,...,AV DR RAFAEL NUÑEZ,6107,ARGUELLO,2024-02-27,33711410959,ALTO TEJEDA S.A,ALTO TEJEDA,"Bar, confiterías, pizzerías, lomiterías, empan...",AV DR RAFAEL NUÑEZ 6107 33711410959,2024-02-27 00:00:00
1,SUPERMERCADO,Supermercado,Hh Mayorista Minorista,San Martin 549,Alimed S.A,69315703,30709249033,-31.4094175478314,-64.1814194019344,CENTRAL,...,SAN MARTIN,549,CENTRO,2023-06-05,30709249033,ALIMED SA,NaN,Almacén de comestibles,SAN MARTIN 549 30709249033,2023-06-05 00:00:00
8,SUPERMERCADO,Supermercado,Hh Mayorista Minorista,La Tablada 40,Alimed S.A,40627754,30709249033,-31.4086563463461,-64.1816174596047,CENTRAL,...,LA TABLADA,40,CENTRO,2020-01-06,30709249033,ALIMED SA,NaN,Almacén de comestibles,LA TABLADA 40 30709249033,2020-01-06 00:00:00
12,HOGAR Y DECO,Construcción,Darsie,Av. Velez Sarsfield 3893,Darsie Y Cia Saci,6554488,30537926240,-31.4557966341168,-64.2009352019332,VILLA EL LIBERTADOR,...,AV VELEZ SARSFIELD,3893,PARQUE LOS MOLINOS,2022-04-04,30537926240,DARSIE Y CIA SACI,NaN,"Depósitos y almacenamientos en general, except...",AV VELEZ SARSFIELD 3893 30537926240,2023-05-03 00:00:00
16,SUPERMERCADO,Supermercado,Almacor,Buenos Aires 868,Almacenes Del Sur,46465290,30708945257,-31.4263846058914,-64.1868407027447,CENTRAL,...,BUENOS AIRES,868,NUEVA CORDOBA,2026-02-11,30708945257,ALMACENES DEL SUR S.A,ALMACOR,Minimercado,BUENOS AIRES 868 30708945257,2026-02-11 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,TIEMPO LIBRE,Juguetería,LA FERIA DEL NIÑO,San Martin Nº 39,EIN SOF SAS,29503064,30716855747,"-31,415299922752464","-64,18387845856242",CENTRAL,...,SAN MARTIN,39,CENTRO,2026-11-18,30716855747,EIN SOF S.A.S.,NaN,"VENTA AL POR MENOR DE JUGUETES, ARTÍCULOS DE C...",SAN MARTIN 39 30716855747,2026-11-18 00:00:00
576,TIEMPO LIBRE,Juguetería,LA FERIA DEL NIÑO,San Martin Nº 396,Ein Sof SAS,29504294,30716855747,"-31,41137140350272","-64,18194721068703",CENTRAL,...,SAN MARTIN,396,CENTRO,2026-11-18,30716855747,EIN SOF S.A.S.,NaN,VENTA AL POR MENOR DE ARTÍCULOS NUEVOS N.C.P.,SAN MARTIN 396 30716855747,2026-11-18 00:00:00
577,MODA Y ACCESORIOS,Indumentaria,Excit Urban Shop,San Jeronimo 2652,Regoff SAS,29426112,30717561372,"-31,423087031855275","-64,15004256041554",SAN VICENTE,...,SAN JERONIMO,2652,SAN VICENTE,2027-07-14,30717561372,REGOFF S.A.S.,Excit Urban Shop,VENTA AL POR MENOR DE PRENDAS Y ACCESORIOS DE ...,SAN JERONIMO 2652 30717561372,2027-07-14 00:00:00
578,TIEMPO LIBRE,Insumos de Librería e Informática,Pc Fox,9 de julio 515,PC Fox SRL,27835694,30710604211,"-31,412633915988245","-64,1905483315804",CENTRAL,...,9 DE JULIO,515,CENTRO,2020-10-13,30710604211,PC FOX SRL,NaN,Venta al por menor de artículos de telefonía -...,9 DE JULIO 515 30710604211,2020-10-13 00:00:00
579,MODA Y ACCESORIOS,Lencería,Secreto de mujer,Bv. Chacabuco 483,Productos y Servicios SRL,08743550,30698510346,"-31,422879918750294","-64,18216541439122",CENTRAL,...,BV CHACABUCO,483,NUEVA CORDOBA,2024-04-24,30698510346,PRODUCTOS Y SERVICIOS SRL,NaN,Venta al por menor de artículos de lencería,BV CHACABUCO 483 30698510346,2024-04-24 00:00:00

In [156]:
dfr["last-date"]

0      2024-02-27 00:00:00
1      2023-06-05 00:00:00
8      2020-01-06 00:00:00
12     2023-05-03 00:00:00
16     2026-02-11 00:00:00
              ...
575    2026-11-18 00:00:00
576    2026-11-18 00:00:00
577    2027-07-14 00:00:00
578    2020-10-13 00:00:00
579    2024-04-24 00:00:00
Name: last-date, Length: 179, dtype: object

In [158]:
dfr.describe()

             CUIT_x            ID     id_tramite
count  1.790000e+02    179.000000     179.000000
mean   2.692777e+10  10300.407821   91580.407821
std    4.614278e+09    267.416176   52848.468262
min    2.006122e+10  10002.000000    2020.000000
25%    2.037165e+10  10130.500000   48830.500000
50%    3.050358e+10  10232.000000   87863.000000
75%    3.070882e+10  10380.000000  133142.500000
max    3.371661e+10  11349.000000  202731.000000