In [49]:
import pandas as pd
url1 = r"../activa/data/hol_listado_empresas.xlsx"
url2 = r"../activa/data/Activa_listado.xlsx"
df1 = pd.read_excel(url1)
df2 = pd.read_excel(url2,sheet_name=1)

In [50]:
#modules

def cleanString(x:str):
    x = x.split(" ")
    rt = []
    for i in x:
        if len(i)<=4:
            continue
        else:
            rt.append(i)

    return "".join(rt).strip()
def str_clean(x):
    data = []
    index = 0

    for i in x:
        if i == "_" or i== "-":
            continue
        else:
            data.append(i)
    return "".join(data)
def getNumber(x:str):
    x = x.strip()
    x = x.split()
    return x[-1]
import re
def digitStract(x:str):
    try:
        return re.findall(r'\d+', x)[0]
    except:
        return "0000"

In [51]:
df2["UniqueId"] = df2["DIRECCIÓN"].map(digitStract) + "-"+ df2["CUIT"].astype(str)

df1["cuitempresa"] = df1["cuitempresa"].map(str_clean)
df1.columns = ['id_tramite', 'FechaHabAprobada', 'Calle', 'Numero', 'Barrio',
       'FechaVencimientoHab', 'CUIT', 'razonsocial', 'NombreFantasia',
       'RubroNombre']
df1["UniqueId"] = df1["Numero"].map(digitStract) + "-"+ df1["CUIT"].astype(str)



df1["CUIT"] = df1["CUIT"].map(str_clean)
df2["CUIT"] = df2["CUIT"].map(lambda x: str(x)).map(str_clean)

In [52]:
#extract last date
df1["location-ID"] = df1["Calle"] + " " + df1["Numero"].astype(str) + " " + df1["CUIT"].astype(str)
df1["FechaVencimientoHab"] = df1["FechaVencimientoHab"].astype("datetime64[D]")
df1["last-date"] = 0

locationDate = {}

for i in df1["location-ID"].unique():
    subset = df1[df1["location-ID"] == i]
    if subset["FechaVencimientoHab"].max():
        locationDate[i] = subset["FechaVencimientoHab"].max()
    else:
        locationDate[i] = subset["FechaVencimientoHab"][0]
locationDate

for i in range(len(df1)):
    r = df1["location-ID"][i]
    if r in locationDate.keys():
        df1["last-date"][i] = locationDate[r]

C:\Users\Usuario\AppData\Local\Temp\ipykernel_2296\726270673.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["last-date"][i] = locationDate[r]

In [5]:
#merge// Inner
df = pd.merge(df2, df1, on='UniqueId')
dfIn = df.drop_duplicates(subset=['ID'])

dfIn.to_excel(r"C:\Users\agosa\OneDrive\Documents\GitHub\WorkSpace\join-tables-5-11\data\data-dir.xlsx")

#merge cuit

df = pd.merge(df2, df1, on='CUIT')
dfCit = df.drop_duplicates(subset=['ID'])

dfIn.to_excel(r"C:\Users\agosa\OneDrive\Documents\GitHub\WorkSpace\join-tables-5-11\data\data-cuit.xlsx")

In [80]:
df1["Address"] = df1["Calle"] + " " + df1["Numero"].astype(str)
df = pd.merge(df2, df1, on='CUIT')
df.columns

Index(['RUBRO', 'SUB-RUBRO', 'NOMBRE DE FANTASIA', 'DIRECCIÓN', 'RAZON SOCIAL',
       'N° COMERCIO', 'CUIT', 'LATITUD', 'LONGITUD', 'CPC', 'ID', 'UniqueId_x',
       'id_tramite', 'FechaHabAprobada', 'Calle', 'Numero', 'Barrio',
       'FechaVencimientoHab', 'razonsocial', 'NombreFantasia', 'RubroNombre',
       'UniqueId_y', 'location-ID', 'last-date', 'Address'],
      dtype='object')

In [82]:
df["close"] = arr
df["validUniqueId"] = df["UniqueId_x"] == df["UniqueId_y"]

----------------------------------

-----------------------------------

In [9]:
df = pd.merge(df2, df1, on='UniqueId')
dfe = df.copy()
dfe = dfe.drop_duplicates(subset=['id_tramite'])
len(dfe)

475

In [10]:
dfe.to_excel(r"C:\Users\agosa\OneDrive\Documents\GitHub\WorkSpace\join-tables-5-11\data\data475.xlsx")

In [ ]:
"""
xx  = []
for cada_cuit faltante
    a = ["activa", cuit, calle, numero]  # 1 fila
	b = ["hol", cuit, calle, numero]  # 0 o mas filas
	xx = concat(xx,a,b)
"""

In [42]:
dfCuit = pd.merge(df2, df1, on='CUIT')
#dfCuit = dfCuit.drop_duplicates(subset=['id_tramite'])

dfCuit["validUniqueId"] = dfCuit["UniqueId_x"] == dfCuit["UniqueId_y"]
len(dfCuit["CUIT"].unique())

259

In [40]:
dfCuit.to_excel(r"C:\Users\agosa\OneDrive\Documents\GitHub\WorkSpace\join-tables-5-11\data\dfCuit.xlsx")

In [30]:
arts = dfCuit[dfCuit["validUniqueId"] == True]

In [31]:
arts = arts.drop_duplicates(subset=['id_tramite'])
len(arts)

475

# final clean

In [3]:
import pandas as pd
url = r"../activa/data/dfCuit.xlsx"
df = pd.read_excel(url)
len(df['DIRECCIÓN'].unique())

501

In [4]:
dfx = df[df["rt"] == 1].copy()
dfx = dfx.drop_duplicates(subset=['id_tramite'])
len(dfx)

583

In [4]:
dfx.to_excel(r"../activa/data/data583.xlsx")

In [2]:
#pip install fuzzywuzzy

Collecting fuzzywuzzy
  Using cached fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 23.1.2 is available.
You should consider upgrading via the 'c:\Users\Usuario\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [5]:
len(dfx.drop_duplicates(subset=['DIRECCIÓN']))

398

In [8]:
dfx.drop_duplicates(subset=['DIRECCIÓN']).to_excel(r"../activa/data/dataOneDir398.xlsx")

In [9]:
df = dfx.drop_duplicates(subset=['DIRECCIÓN']).copy()
len(df)

398

In [14]:
df.columns

Index(['Unnamed: 0', 'RUBRO', 'SUB-RUBRO', 'NOMBRE DE FANTASIA', 'DIRECCIÓN',
       'RAZON SOCIAL', 'CUIT', 'N° COMERCIO', 'LATITUD', 'LONGITUD', 'CPC',
       'ID', 'UniqueId_x', 'id_tramite', 'FechaHabAprobada', 'Calle', 'Numero',
       'Barrio', 'FechaVencimientoHab', 'razonsocial', 'NombreFantasia',
       'RubroNombre', 'UniqueId_y', 'location-ID', 'last-date',
       'validUniqueId', 'rt'],
      dtype='object')

In [15]:
from laxFz import laxFz
x = df["RAZON SOCIAL"].to_list()
y = df["razonsocial"].to_list()

arr = [laxFz(x[i],y[i]) for i in range(len(x))]

df["Pr(RAZONSOCIAL=razonsocial)"] = arr

x = df["DIRECCIÓN"].to_list()
y = (df["Calle"]+ " " + df["Numero"]).to_list()

arr = [laxFz(x[i],y[i]) for i in range(len(x))]

df["Pr(DIRECCIÓN=Calle + Num)"] = arr

In [16]:
df

,Unnamed: 0,RUBRO,SUB-RUBRO,NOMBRE DE FANTASIA,DIRECCIÓN,RAZON SOCIAL,CUIT,N° COMERCIO,LATITUD,LONGITUD,...,razonsocial,NombreFantasia,RubroNombre,UniqueId_y,location-ID,last-date,validUniqueId,rt,Pr(RAZONSOCIAL=razonsocial),Pr(DIRECCIÓN=Calle + Num)
2,9925,MODA Y ACCESORIOS,Indumentaria Deportiva,Libero Sport,San Martin 154,Vallari Edgardo Pedro,2.006122e+10,43946201,-31.4138695878163,-64.1833605315984,...,VALLARI EDGARDO PEDRO,LIBERO SPORT,Venta al por menor de calzado. Zapaterías y za...,154-20061224247,SAN MARTIN 154 20061224247,2024-03-06,True,1,100,97
16,9939,MODA Y ACCESORIOS,Indumentaria Deportiva,Libero Sport,San Martin 259,Vallari Edgardo Pedro,2.006122e+10,43946201,-31.4128951293021,-64.1828570027624,...,EDGARDO PEDRO VALLARI,LIBERO SPORT,Venta al por menor de calzado. Zapaterías y za...,259-20061224247,SAN MARTIN 259 20061224247,2023-11-29,True,1,62,97
26,9949,MODA Y ACCESORIOS,Indumentaria Deportiva,Libero Sport,San Martin 339,Vallari Edgardo Pedro,2.006122e+10,43946201,-31.4119387270623,-64.1825269739263,...,EDGARDO PEDRO VALLARI,NaN,"Depósitos y almacenamientos en general, except...",339-20061224247,SAN MARTIN 339 20061224247,2025-12-17,True,1,62,97
39,9962,MODA Y ACCESORIOS,Indumentaria Deportiva,Libero Advance,9 de Julio 76,Vallari Edgardo Pedro,2.006122e+10,43946201,-31.4142606448888,-64.1845408027623,...,EDGARDO PEDRO VALLARI,LIBERO ADVANCE,Venta al por menor de calzado. Zapaterías y za...,68-20061224247,9 DE JULIO 68/76 20061224247,2023-12-06,VERDADERO,1,62,87
55,8794,TIEMPO LIBRE,Hobbys,Ruben Libros,Dean Funes 163 L1,Bernardo Ruben Goldbery,2.006698e+10,42885517,-31.415274634881,-64.1861867743792,...,BERNARDO RUBEN GOLDBERG,RUBEN LIBROS,Venta al por mayor de textos nuevos,163-20066982190,DEAN GREGORIO FUNES 163 20066982190,2021-11-29,True,1,96,68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15538,0,ALMACENES,Almacén,Alto Tejeda,Gregorio Gavier 2005,Alto Tejeda,3.371141e+10,23251869,-31.3682367854621,-64.2354533604359,...,ALTO TEJEDA S.A.,ALTO TEJEDDA,Almacén de comestibles,2005-33711410959,GREGORIO YGNACIO GAVIER 2005 33711410959,2022-12-27,True,1,81,82
15551,13,ALMACENES,Almacén,Alto Tejeda,Menendez Pidal 3748,Alto Tejeda,3.371141e+10,23251906,-31.3837978795171,-64.2347474315994,...,ALTO TEJEDA S.A.,ALTO TEJEDA,"Bar, confiterías, pizzerías, lomiterías, empan...",3748-33711410959,AV RAMON MENENDEZ PIDAL 3748 33711410959,2023-06-22,True,1,81,79
15558,20,ALMACENES,Almacén,Alto Tejeda,Av. Rafael Nuñez 6107,Alto Tejeda,3.371141e+10,23251947,-31.3461386961099,-64.2507192892727,...,ALTO TEJEDA S.A,ALTO TEJEDA,"Bar, confiterías, pizzerías, lomiterías, empan...",6107-33711410959,AV DR RAFAEL NUÑEZ 6107 33711410959,2024-02-27,True,1,85,89
15580,13909,HOGAR Y DECO,Ferretería y Construcción,Ferreteria Battiston,Bulnes 3954,Battiston Franco,3.371401e+10,28629572,-31.390519993193,-64.1389988407215,...,BATTISTON FRANCO A. Y BATTISTON ROMINA P. S.H.,"""FERRETERIA BATTISTON""",Venta al por menor de artículos de ferretería....,3954-33714007799,BV EDUARDO BULNES 3954 33714007799,2020-01-07,True,1,52,65
15582,8785,OTROS,Tecnología,Rock Music,Rivera Indarte 360,Pro Music Sds,3.371661e+10,26262910,-31.4114138258332,-64.1833853027451,...,PRO MUSIC S.A.S.,NaN,"Venta al por menor de artículos electrónicos, ...",360-33716607459,RIVERA INDARTE 360 33716607459,2025-02-18,True,1,83,97

In [17]:

df.to_excel(r"../activa/data/dataOneDir398AddProb.xlsx")

In [13]:


#df.to_excel(r"../activa/data/dfCuitAddProb.xlsx")

In [16]:
df["E-Commerce"] = df["DIRECCIÓN"].map(lambda x: x=="E-Commerce")
df["No-Cba"] = df["DIRECCIÓN"].map(lambda x: x.strip()[-1]==")")

2979

## datos obtenidos

### obtencion y preceso de datos previamente mergeados

- se obtubo por un proceso de merge de 2 bases de datos el excel dfCuit el cual fue tratado manualmente para casos de coincidencias NO exactas.
- se empleo la libreria 'fuzzywuzzy' para calcular las probabilidades de que las razones sociales tanto como las direcciones dieran una coincidencia
- se agrego una columna en la cua se identifica a las 'E-Commerce'
- se agrego una columna en la que se identifica cuaes direcciones no pertenecen a la ciudad. todas terminan con un parentesis de cierre.

In [17]:
from laxFz import laxFz

url = r"../activa/data/dfCuit.xlsx"
df = pd.read_excel(url)


x = df["RAZON SOCIAL"].to_list()
y = df["razonsocial"].to_list()

arr = [laxFz(x[i],y[i]) for i in range(len(x))]

df["Pr(RAZONSOCIAL=razonsocial)"] = arr

x = df["DIRECCIÓN"].to_list()
y = (df["Calle"]+ " " + df["Numero"]).to_list()

arr = [laxFz(x[i],y[i]) for i in range(len(x))]

df["Pr(DIRECCIÓN=Calle + Num)"] = arr

df["E-Commerce"] = df["DIRECCIÓN"].map(lambda x: x=="E-Commerce")
df["No-Cba"] = df["DIRECCIÓN"].map(lambda x: x.strip()[-1]==")")

se trabajara para la descripcion con direcciones unicas correspondientes a la base de datos 'Activa'.

In [24]:
#identificacion de E-Commerce
dfUniqueDir = df.copy()
dfUniqueDir["DIRECCIÓN"]
def eCommerceUnique(row):
    if row['DIRECCIÓN'] == 'E-Commerce':
        return row['DIRECCIÓN'] + str(row['CUIT'])
    else:
        return row['DIRECCIÓN']

df['DIRECCIÓN'] = df.apply(eCommerceUnique, axis=1)
dfUniqueDir = df.drop_duplicates("DIRECCIÓN")

print(f'direcciones unicas: {len(dfUniqueDir)} ')
print(f'Fuera de Cba: {dfUniqueDir["No-Cba"].sum()}')
print(f'E-Commerce: {dfUniqueDir["E-Commerce"].sum()}')

direcciones unicas: 504
Fuera de Cba: 29
E-Commerce: 4

Datos E-Commerce

In [26]:
df[df["E-Commerce"] == 1].to_excel(r"../activa/data/dataECommerce.xlsx")

Datos Fuera de Cba

In [27]:
df[df["No-Cba"] == 1].to_excel(r"../activa/data/dataNoCba.xlsx")

### datos para mapeo

en este caso de trabajara solo con los datos que en la verificacion tanto automatica como manual hayan obtenido 'True' en su verificacion, reasignado a la columna 'rt'. y su id_tramite sea UNICO.

In [28]:
dfx = df[df["rt"] == 1].copy()
dfx = dfx.drop_duplicates(subset=['id_tramite'])
dfx.to_excel(r"../activa/data/coincidencias-ciut.xlsx")
len(dfx)

583

si bien el id de tramite es unico, se estan dupicando direcciones, lo cual es impractico para el mapeo. se quitaran direccines distintas.

In [29]:
dfx = dfx.drop_duplicates(subset=['DIRECCIÓN'])
dfx.to_excel(r"../activa/data/coincidencias-ciut-direccion-unica.xlsx")
len(dfx)

398